 <!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="~/Content/assets/images/bg1.jpg">
    <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title text-white">Events</h3>
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- Section: Events List -->
<section>
    <div class="container pb-0">
        <div class="section-content">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                    <div class="schedule-box maxwidth500 bg-lighter clearfix mb-30">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/assets/images/events/event4.jpg">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="schedule-details clearfix p-15 pt-30">
                                <div class="text-center pull-left flip bg-theme-colored p-10 pt-5 pb-5 mr-10">
                                    <ul>
                                        <li class="font-24 text-white font-weight-600 border-bottom ">28</li>
                                        <li class="font-18 text-white text-uppercase">Feb</li>
                                    </ul>
                                </div>
                                <h3 class="title mt-0"><a href="#">Keep Kampala Clean Drive</a></h3>
                                <ul class="list-inline text-gray">
                                    <li><i class="fa fa-calendar mr-5"></i> Sunday at 9:30PM</li>
                                    <li><i class="fa fa-map-marker mr-5"></i> City Square.</li>
                                </ul>
                                <div class="clearfix"></div>
                                <p class="mt-10">
                                    As one of the ways to better manage garbage disposal and improve hygiene in the city,
                                    Our Roots Africa has revamped its ‘Keep Kampala Clean’ campaign.
                                    While launching the community service in Ndeeba in Rubaga division,                                    
                                    "We are aiming at reducing rubbish in the city which is still in plenty.
                                    When we focus on being clean, the high numbers of people that spend money
                                    in hospitals will reduce".
                                </p>
                                <div class="mt-10">
                                    <a class="btn btn-dark btn-theme-colored btn-sm mt-10" href="#">Register</a>
                                    <a href="#" class="btn btn-default btn-sm mt-10">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                    <div class="schedule-box maxwidth500 bg-lighter clearfix mb-30">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/assets/images/events/event1.jpg">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="schedule-details clearfix p-15 pt-30">
                                <div class="text-center pull-left flip bg-theme-colored p-10 pt-5 pb-5 mr-10">
                                    <ul>
                                        <li class="font-24 text-white font-weight-600 border-bottom ">28</li>
                                        <li class="font-18 text-white text-uppercase">Feb</li>
                                    </ul>
                                </div>
                                <h3 class="title mt-0"><a href="#">Keep Kampala Clean Drive</a></h3>
                                <ul class="list-inline text-gray">
                                    <li><i class="fa fa-calendar mr-5"></i> Sunday at 9:30PM</li>
                                    <li><i class="fa fa-map-marker mr-5"></i> City Square.</li>
                                </ul>
                                <div class="clearfix"></div>
                                <p class="mt-10">
                                    As one of the ways to better manage garbage disposal and improve hygiene in the city,
                                    Our Roots Africa has revamped its ‘Keep Kampala Clean’ campaign.
                                    While launching the community service in Ndeeba in Rubaga division,
                                    "We are aiming at reducing rubbish in the city which is still in plenty.
                                    When we focus on being clean, the high numbers of people that spend money
                                    in hospitals will reduce".
                                </p>
                                <div class="mt-10">
                                    <a class="btn btn-dark btn-theme-colored btn-sm mt-10" href="#">Register</a>
                                    <a href="#" class="btn btn-default btn-sm mt-10">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                    <div class="schedule-box maxwidth500 bg-lighter clearfix mb-30">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/assets/images/events/event2.jpg">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="schedule-details clearfix p-15 pt-30">
                                <div class="text-center pull-left flip bg-theme-colored p-10 pt-5 pb-5 mr-10">
                                    <ul>
                                        <li class="font-24 text-white font-weight-600 border-bottom ">28</li>
                                        <li class="font-18 text-white text-uppercase">Feb</li>
                                    </ul>
                                </div>
                                <h3 class="title mt-0"><a href="#">Keep Kampala Clean Drive</a></h3>
                                <ul class="list-inline text-gray">
                                    <li><i class="fa fa-calendar mr-5"></i> Sunday at 9:30PM</li>
                                    <li><i class="fa fa-map-marker mr-5"></i> City Square.</li>
                                </ul>
                                <div class="clearfix"></div>
                                <p class="mt-10">
                                    As one of the ways to better manage garbage disposal and improve hygiene in the city,
                                    Our Roots Africa has revamped its ‘Keep Kampala Clean’ campaign.
                                    While launching the community service in Ndeeba in Rubaga division,
                                    "We are aiming at reducing rubbish in the city which is still in plenty.
                                    When we focus on being clean, the high numbers of people that spend money
                                    in hospitals will reduce".
                                </p>
                                <div class="mt-10">
                                    <a class="btn btn-dark btn-theme-colored btn-sm mt-10" href="#">Register</a>
                                    <a href="#" class="btn btn-default btn-sm mt-10">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                    <div class="schedule-box maxwidth500 bg-lighter clearfix mb-30">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fullwidth" alt="" src="~/Content/assets/images/events/event3.jpg">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="schedule-details clearfix p-15 pt-30">
                                <div class="text-center pull-left flip bg-theme-colored p-10 pt-5 pb-5 mr-10">
                                    <ul>
                                        <li class="font-24 text-white font-weight-600 border-bottom ">28</li>
                                        <li class="font-18 text-white text-uppercase">Feb</li>
                                    </ul>
                                </div>
                                <h3 class="title mt-0"><a href="#">Keep Kampala Clean Drive</a></h3>
                                <ul class="list-inline text-gray">
                                    <li><i class="fa fa-calendar mr-5"></i> Sunday at 9:30PM</li>
                                    <li><i class="fa fa-map-marker mr-5"></i> City Square.</li>
                                </ul>
                                <div class="clearfix"></div>
                                <p class="mt-10">
                                    As one of the ways to better manage garbage disposal and improve hygiene in the city,
                                    Our Roots Africa has revamped its ‘Keep Kampala Clean’ campaign.
                                    While launching the community service in Ndeeba in Rubaga division,
                                    "We are aiming at reducing rubbish in the city which is still in plenty.
                                    When we focus on being clean, the high numbers of people that spend money
                                    in hospitals will reduce".
                                </p>
                                <div class="mt-10">
                                    <a class="btn btn-dark btn-theme-colored btn-sm mt-10" href="#">Register</a>
                                    <a href="#" class="btn btn-default btn-sm mt-10">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>