    <!-- Section: About  -->
<section>
    <div class="container pb-30">
        <div class="section-content">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fullwidth" src="~/Content/assets/images/about/Package3.jpg" alt="">
                    <h3 class="line-bottom">OUR SOLUTION</h3>
                    <p>
                        Ouroots Africa offers alternatives to plastic, by growing natural plants and converting into useful
                        products such as drinking straws, math counting sticks, coffee/tea stir sticks and bathing sponges.
                        Ouroots Africa is tackling the plastic challenge from the root of the problem; production.
                        Ouroots Africa is completely local, from the origins of the concept to the manual style of production.
                        The African culture is a muse in the west but in Africa it is the western culture that serves as a source of
                        daily inspiration. We want to show the world our original culture with a new product, the Luseke grass
                        that can be grown into different products. Using low technology in the manufacturing process of our
                        product, enables us to easily collaborate with rural women farmers; we’re giving them an area within
                        their expertise, agriculture which is the back bone of Uganda’s economy.

                    </p>
                    @*<a class="text-theme-colored font-13" href="page-about1.html">Read More →</a>*@
                    <br/><br/><br /><br /><br /><br />
                    <img class="img-fullwidth" src="~/Content/assets/images/about/straws2.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <h3 class="line-bottom mt-0 mt-sm-30">THE PROBLEM</h3>
                    <p class="mb-30">
                        Our world has a problem, it’s called plastic.<br/>
                        8-12M tons of plastic pollution make it into the world’s oceans. Straws are one of the most widely
                        reported plastic items found during beach clean-up .The European parliament has voted to ban
                        disposable plastic products across EU by 2021 ,Starbucks has declared to ban plastic straws in all stores
                        by 2020. These are indubitable milestones in the anti-plastic wave in the world, fixing a problem by
                        cutting it from the root but this does not offer a holistic solution. Our habit of using plastic may have
                        begun due to the accessibility of the product, but stopping production does not stop demand.
                    </p>


                    <h3 class="line-bottom mt-0 mt-sm-30">OUR RELEVANCE</h3>
                    <p class="mb-30">
                        The European parliament has voted to ban disposable plastic products across EU by 2021 and Starbucks
                        has declared to ban plastic straws in all stores by 2020.
                        These are indubitable milestones in the anti-plastic wave in the world, fixing a problem by cutting it from the root but this does not offer a holistic
                        solution. Our habit of using plastic straws may have begun due to the accessibility of the product, but
                        stopping production does not stop demand. The consequences of plastic production and consumption
                        are far from the eyes of the individual consumer and investor thus are too often overlooked. Most of us
                        favor comfort and habit over the environment.
                    </p>

                    <img class="img-fullwidth" src="~/Content/assets/images/about/spoons1.jpeg" alt="">

                    <br /><br /><br /><br />

                    <h3 class="line-bottom mt-0 mt-sm-30">INTRODUCING A NEW CASH CROP TO RURAL WOMEN FARMERS</h3>
                    <p class="mb-30">
                        The Luseke straw together with other grown products had been forgotten until now when we need
                        them the most as the best alternatives to plastic .Since farmers have not been growing it, we are
                        currently going to different bushes, farms and gardens scouting and collecting these magical plants.
                        We can introduce new cash crops to rural farmers that take short harvest periods, grows all year
                        around. The Luseke straw is an entirely natural product and naturally hollow shaped, through its
                        production process to after its use, it is a 100% biodegradable and compostable. The sanitizing process
                        requires steaming of a 100°C and does not include any chemicals.
                    </p>

                    <div class="row">

                        <h3 class="line-bottom mt-0 mt-sm-30">UPHOLDING THE SUSTAINABLE DEVELOPMENT GOALS</h3>

                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="icon-box p-0 mb-30">
                                <a class="icon icon-sm pull-left sm-pull-none flip bg-theme-colored mb-sm-15 mb-0 mr-10" href="#">
                                    @*<i class="flaticon-charity-shelter text-white font-36"></i>*@
                                    <img src="~/Content/assets/images/sdgs/lifeOnLand.png" alt="">
                                </a>
                                <h4 class="icon-box-title m-0 mb-5">SDG 15 Life On Land</h4>
                                <p class="text-gray mb-5">
                                    Protect, restore and promote sustainable use of terrestrial ecosystems, 
                                    sustainably manage forests, combat desertification, and halt and reverse 
                                    land degradation and halt biodiversity loss
                                </p>
                               
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="icon-box p-0 mb-30">
                                <a class="icon icon-sm pull-left sm-pull-none flip bg-theme-colored mb-sm-15 mb-0 mr-10" href="#">
                                    @*<i class="flaticon-charity-shaking-hands-inside-a-heart text-white font-36"></i>*@
                                    <img src="~/Content/assets/images/sdgs/lifeBelowWater.jpg" alt="">
                                </a>
                                <h4 class="icon-box-title m-0 mb-5">SDG14 Life Below Water</h4>
                                <p class="text-gray mb-5">
                                    Conserve and sustainably use the oceans, seas and marine resources for sustainable development
                                </p>
                                @*<a href="#" class="text-theme-colored font-13">Read More →</a>*@
                            </div>
                        </div>
                       
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>