    <!-- Section: home-boxes -->
<section>
    <div class="container pt-0">
        <div class="section-content">
            <div class="row equal-height-inner home-boxes">
                @*<div class="col-sm-12 col-md-4 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.1s">
                    <div class="sm-height-auto bg-theme-colored">
                        <div class="p-30 mb-sm-30">
                            <h3 class="text-uppercase text-white mt-0">Become a Volunteer</h3>
                            <p class="text-white">Like what Our Roots Africa does, join us as a volunteer.</p>
                            @Html.Bootstrap().ActionLink("Join Us Now", "Volunteer", "Home").Class("btn btn-border btn-circled btn-transparent btn-sm")
                        </div>
                        <i class="flaticon-charity-shaking-hands-inside-a-heart bg-icon"></i>
                    </div>
                </div>*@

                <div class="col-sm-12 col-md-6 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.1s">
                    <div class="sm-height-auto bg-theme-colored">
                        <div class="p-30 mb-sm-30">
                            <h3 class="text-uppercase text-white mt-0">Donate for our cause</h3>
                            <p class="text-white">Become one of our donors to support Our Roots Africa.</p>
                            <a href="" class="btn btn-border btn-circled btn-transparent btn-sm">Donate</a>
                        </div>
                        <i class="flaticon-charity-make-a-donation bg-icon"></i>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.1s">
                    <div class="sm-height-auto bg-theme-colored">
                        <div class="p-30 mb-sm-30">
                            <h3 class="text-uppercase text-white mt-0">Find Us</h3>
                            <p class="text-white">You are welcome to visit us for your free sample of our products.</p>
                            @*<a href="" class="btn btn-border btn-circled btn-transparent btn-sm">Find Us</a>*@
                           @Html.Bootstrap().ActionLink("Find Us", "Contact", "Home").Class("btn btn-border btn-circled btn-transparent btn-sm")
                        </div>
                        <i class="flaticon-charity-sweet-home bg-icon"></i>
                    </div>
                </div>
              
              
            </div>
        </div>
    </div>
</section>