    <!-- Section: volunteers -->
<section>
    <div class="container">
        <div class="section-title">
            <div class="row">
                <div class="col-md-6">
                    
                    <h2 class="mt-0 text-uppercase font-28">Our <span class="text-theme-colored font-weight-400">Awesome Team</span> <span class="font-30 text-theme-colored">.</span></h2>
                    <div class="icon">
                        <i class="fa fa-hospital-o"></i>
                    </div>

                </div>
                @*<div class="col-md-6"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus hic suscipit doloremque deleniti ipsa quia dolor laborum natus tenetur, excepturi?</p></div>*@
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                    <div class="team-member">
                        <div class="volunteer-thumb"> <img src="~/Content/assets/images/team/team1.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                        <div class="bg-lighter text-center pt-20">
                            <div class="member-biography">
                                <h3 class="mt-0">Nakawuki Stella Lukwago</h3>
                                <p>Lead Link –Product quality & fair trade.|<br/> A Social Business Consultant.</p>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                    <div class="team-member">
                        <div class="volunteer-thumb"> <img src="~/Content/assets/images/team/team2.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                        <div class="bg-lighter text-center pt-20">
                            <div class="member-biography">
                                <h3 class="mt-0">Shira Turbowicz</h3>
                                <p>Lead Link -International brand identity & marketing. |<br/> Studies communication in London’s Central Saint Martins.</p>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                    <div class="team-member">
                        <div class="volunteer-thumb"> <img src="~/Content/assets/images/team/team3.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                        <div class="bg-lighter text-center pt-20">
                            <div class="member-biography">
                                <h3 class="mt-0">Tony Wamboga</h3>
                                <p>Lead Link –Public relations &communication. |<br/> A social Business Scholar at Social Innovation Academy</p>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                    <div class="team-member">
                        <div class="volunteer-thumb"> <img src="~/Content/assets/images/team/team4.jpg" alt="" class="img-fullwidth img-responsive"> </div>
                        <div class="bg-lighter text-center pt-20">
                            <div class="member-biography">
                                <h3 class="mt-0">Semambo Akram</h3>
                                <p>Lead Link – Production & packaging. | <br/>A scholar at Social Innovation Academy</p>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

